@charset "UTF-8";

@font-face {
    font-family: formula;
    src: url(fontes/FORMULA-A.ttf) format(opentype);
}

h2 {
    font-family: 'formula';
    font-weight: 400;
}

body {background-image: linear-gradient(to right, #262626, #BFBFBF);
    font-family: Arial, Helvetica, sans-serif;
    
}

#topo {
    text-align: left;
}

header {
    font: normal bold 1em arial sans-serif;
    margin: auto;
    width: 1000px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.459);
    background-color: #262626;
    color: #F2F2F2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 1.5em;
}
aside {
    text-align: center;
    margin: auto;
    width: 1000px;
}

#produtos {
    display: flex; /*Deixa determinados elementos alinhados*/
    justify-content: space-around; /* Da um espaçamento igual para todos de ponta até ponta */
}

footer {
    text-align: center;
    margin: auto;
    width: 800px;
}

hr {
    border: 2px solid #EDE7E3;
}

.custom-hr {
    border: none;
    height: 7px; /* Altura da linha horizontal personalizada */
    background-color: #595959; /* Nova cor de fundo da linha horizontal */
    margin: 10px 5; /* Margens superior e inferior FIZ MAGICA PRA CENTRALIZA ESSA BAGAÇA */
    border-radius: 3px;
}

main {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
    width: 1000px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}