@charset "UTF-8";

body {
    background-color: rgb(155, 155, 155);
}

.quadro {
    width: 300px;
    height: 500px;
overflow: hidden;
}

.insta {
    background-image: url(logo-instagram-png-fundo-transparente.png);
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    right: 0;
    transition: 0.4s ease-in-out;
    border: 2px solid white;
    box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.425);
    padding: 10px;
    margin-right: 5px;
}

.insta:hover {
    width: 50px;
    height: 50px;
}

#social1 {

}

#social2 {
    top: 15%;
}
#social3 {
    top: 30%;
}

#social4 {
    top: 45%;
}

#social5 {
    top: 60%;
}