
header {
    width: 100vw;
    height: 300px;


    background-repeat: no-repeat;
    background: url(imagens/Design\ sem\ nome.png);
    background-size: cover;
    background-position: center center;
    color: white;
}

header h1, p {
    padding: 4vw 0 0 4.5vw;

    text-align: left;
}